<h1>Here is one cute, snuggly puppy</h1>
  
<ul>
  <li> <%= @puppy.name %> </li>
  <li> <%= @puppy.age %> </li>
  <li> <%= @puppy.breed %> </li>
</ul>

<a href="/puppies/<%= @puppy.id %>/edit">Edit this cute little puppy!</a>